# PySpark DataFrame Basics

This notebook demonstrates some basic DataFrame operations in PySpark.

Several [Spark examples](/tree/examples/spark) are included with TAP.

More examples are available on the Spark website: http://spark.apache.org/examples.html

PySpark API documentation: http://spark.apache.org/docs/latest/api/python/

In [1]:
import pyspark

# Create a SparkContext in local mode
sc = pyspark.SparkContext("local")

# Create a SqlContext from the SparkContext
sqlContext = pyspark.SQLContext(sc)

In [2]:
data = [
    (1, 'a'), 
    (2, 'b'), 
    (3, 'c'), 
    (4, 'd'), 
    (5, 'e'), 
    (6, 'a'), 
    (7, 'b'), 
    (8, 'c'), 
    (9, 'd'), 
    (10, 'e')
]

# Convert a local data set into a DataFrame
df = sqlContext.createDataFrame(data, ['numbers', 'letters'])

# Convert to a Pandas DataFrame for easy display
df.toPandas()

   numbers letters
0        1       a
1        2       b
2        3       c
3        4       d
4        5       e
5        6       a
6        7       b
7        8       c
8        9       d
9       10       e

In [3]:
# Count the number of rows in the DataFrame
print df.count()

10

In [4]:
# View some rows
print df.take(3)

[Row(numbers=1, letters=u'a'), Row(numbers=2, letters=u'b'), Row(numbers=3, letters=u'c')]

In [5]:
# Sort descending
descendingDf = df.orderBy(df.numbers.desc())

# View some rows
descendingDf.toPandas()

   numbers letters
0       10       e
1        9       d
2        8       c
3        7       b
4        6       a
5        5       e
6        4       d
7        3       c
8        2       b
9        1       a

In [6]:
# Filter the DataFrame
filtered = df.where(df.numbers < 5)

# Convert to Pandas DataFrame for easy viewing
filtered.toPandas()

   numbers letters
0        1       a
1        2       b
2        3       c
3        4       d

In [7]:
# Map the DataFrame into an RDD
rdd = df.map(lambda row: (row.numbers, row.numbers * 2))

# View some rows
print rdd.take(10)

[(1, 2), (2, 4), (3, 6), (4, 8), (5, 10), (6, 12), (7, 14), (8, 16), (9, 18), (10, 20)]

In [8]:
# import some more functions
from pyspark.sql.functions import countDistinct
from pyspark.sql.functions import avg
from pyspark.sql.functions import sum

# Perform aggregations on the DataFrame
agg = df.agg(
    avg(df.numbers).alias("avg_numbers"), 
    sum(df.numbers).alias("sum_numbers"),
    countDistinct(df.numbers).alias("distinct_numbers"), 
    countDistinct(df.letters).alias('distinct_letters')
)

# Convert the results to Pandas DataFrame
agg.toPandas()

   avg_numbers  sum_numbers  distinct_numbers  distinct_letters
0          5.5           55                10                 5

In [9]:
# View some summary statistics
df.describe().show()

+-------+------------------+
|summary|           numbers|
+-------+------------------+
|  count|                10|
|   mean|               5.5|
| stddev|2.8722813232690143|
|    min|                 1|
|    max|                10|
+-------+------------------+

## Stop the Spark Context

In [10]:
# Stop the context when you are done with it. When you stop the SparkContext resources 
# are released and no further operations can be performed within that context
sc.stop()