# Frame Basics

This notebook shows some of the basics of working with ATK frames.  The ATK frame acts as a proxy object to a large table of data on the server, with properties and functions to operate on that frame.

- See [ATK Documentation](http://trustedanalytics.github.io/atk/) for more information about the the API's

In [ ]:
# First, let's verify that the ATK client libraries are installed
import trustedanalytics as ta
print "ATK installation path = %s" % (ta.__path__)

In [ ]:
# Next, look-up your ATK server URI from the TAP Console and enter the information below.
# This setting will be needed in every ATK notebook so that the client knows what server to communicate with.

# E.g. ta.server.uri = 'demo-atk-c07d8047.demotrustedanalytics.com'
ta.server.uri = 'ENTER URI HERE'

In [ ]:
# This notebook assumes you have already created a credentials file.
# Enter the path here to connect to ATK
ta.connect('myuser-cred.creds')

In [ ]:
# Create a new frame by uploading rows
data = [ ['a', 1], 
         ['b', 2], 
         ['c', 3], 
         ['b', 4],     
         ['a', 5] ]

schema = [ ('letter', str),
           ('number', ta.int64) ]

frame = ta.Frame(ta.UploadRows(data, schema))

In [ ]:
# View the first few rows of a frame
frame.inspect()

In [ ]:
# View a specfic number of rows of a frame
frame.inspect(2)

In [ ]:
# Add a column to the frame
frame.add_columns(lambda row: row.number * 2, ('number_doubled', ta.int64))
frame.inspect()

In [ ]:
# Get summary information for a column
frame.column_summary_statistics('number_doubled')

In [ ]:
# Add a column with the cumulative sum of the number column
frame.cumulative_sum('number')
frame.inspect()

In [ ]:
# Rename a column
frame.rename_columns({ 'number_doubled': "x2" })
frame.inspect()

In [ ]:
# Sort the frame by column 'number' descending
frame.sort('number', False)
frame.inspect()

In [ ]:
# Remove a column from the frame
frame.drop_columns("x2")
frame.inspect()

In [ ]:
# Download a frame from ATK to pandas
pandas_frame = frame.download(columns=['letter', 'number'])
pandas_frame

In [ ]:
# Calculate aggregations on the frame
results = frame.group_by('letter', ta.agg.count, {'number': [ta.agg.avg, ta.agg.sum, ta.agg.min] })
results.inspect()

In [ ]:
# Count the number of rows satisfying a predicate
frame.count(lambda row: row.number > 2)

Many more frame operations are available.  See the [ATK Documentation](http://trustedanalytics.github.io/atk/).